* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
  }

.titlebar {
    display: flex;
    background: #DFECF6;
    box-shadow: 5px 5px 5px lightgrey;
    align-items: center;
    justify-content: space-between;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin: 0.5rem 1rem;
    width: 3rem;
  }

  .settings-icon {
    margin: 0.5rem 1rem;
    width: 3rem;
  }

  .user-name {
    font-weight: 700;
  }

  .headline {
    margin-left: 0.5rem;
    text-decoration: none;
    font-size: 3rem;
    color: black;
    font-weight: 700;
  }

  .main {
    display: flex;
  }


  .sidenav {
    height: calc(100vh - 4rem);
    width: 160px;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #DFECF6;
    overflow-x: hidden;
    padding-top: 160px;
    box-shadow: 5px 5px 5px lightgrey
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    align-self: start;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main-content {
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /*Style für die Tabellen, kann ruhig geändert werden wenn es bessere alternativen gibt
  table, th, td {
    border:1px solid black;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  } */
  table.blueTable {
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid #1C6EA4;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable thead {
      border-bottom: 2px solid #597393;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #597393;
  }